body {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  background-image: url("/public/stripclub.jpg"), url("/public/strip_enseigne.jpg");
  background-position: top, bottom; /* Center the image */
  background-repeat: no-repeat, repeat; /* Do not repeat the image */
  background-size: cover, contain; /* Resize the background image to cover the entire container */
}

h1 {
  animation: flicker 1.5s infinite alternate;
  margin: 10px;
  font-size: 600%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container img {
  width: 75px;
}

#main-button {
  animation: pulsate 1s infinite alternate;
}

.App button {
  cursor: pointer;
  margin: 10px;
  background: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: 0.2rem solid #fff;
  border-radius: 3rem;
  padding: 0.1em;
  padding-inline: 1em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.3rem #bc13fe,
              0 0 1.5rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  text-shadow:
    0 0 1px black,
    0 0 3px black,
    0 0 5px black;
}

.img-container {
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 1px #fff,
      0 0 9px #fff,
      0 0 15px #fff,
      0 0 40px #bc13ef,
      0 0 45px #bc13ef,
      0 0 70px #bc13ef,
      0 0 85px #bc13ef,
      0 0 90px #bc13ef,
      0 0 100px #bc13ef;
  }
  20%, 24%, 55% {       
    text-shadow: 
      0 0 1px #bc13ef,
      0 0 3px #bc13ef;
  }
}

@keyframes pulsate {
  100% {
    box-shadow:
      0 0 1px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px red,
      0 0 22px red,
      0 0 30px red,
      0 0 35px red;
  }
  0% {       
    box-shadow:
      0 0 3px red,
      0 0 5px red,
      0 0 8px red;
  }
}

